<!-- shared styles for all elements and index.html -->
<dom-module id="shared-styles">
    <template>
        <style>
            .page-title {
            @apply(--paper-font-display2);
            }
            :root {

            --main-title-font: {
                 font-family: 'Montserrat', Helvetica, Arial, sans-serif;
                 font-weight: 400;
                 color: white;
                 font-size: 3.33rem;
                 line-height: 1.1;
                 margin-right: 0;
                 margin-bottom: 2rem;
                 display: inline-block;
                 padding: 0 2rem;
                 letter-spacing: .3rem;
                 position: relative;
             };
            --main-paragraph-font: {
                 font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
                 -webkit-font-smoothing: antialiased;
                 color: #fefefe;
                 font-size: 1.6rem;
                 line-height: 2;
                 display: inline-block;
                 font-weight: 300;

                 padding-bottom: .5rem;
                 margin-bottom: 1rem;
                 margin-top: 0;

                 letter-spacing: .1rem;
             };
            --banners-background-theme: {
                 background: url(/app/images/patterns/bright-squares.png) center center,
                 url(/app/images/patterns/bright-squares.png) center center #147BCC;
                 color: #fff;
             };

            --main-font-color: #03A9F4;
            --secondary-font-color: #4FB6F7;
            }
            @media (max-width: 600px) {
                .page-title {
                    font-size: 24px!important;
                }
            }
        </style>
    </template>
</dom-module>
