<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sp-cover">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="big-banner responsive horizontal center-center layout">
            <div class="badge-white cover">
            </div>
        </div>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-cover',

                properties: {
                    greeting: {
                        type: String,
                        value: 'Welcome!',
                        notify: true
                    }
                }
            });
        })();
    </script>

</dom-module>
