<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../sp-team-grid/sp-team-grid.html">
<link rel="import" href="../scrollable-behavior/scrollable-behavior.html">
<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="sp-team">
    <template>
        <style>
            :host {
                display: block;

            }

        </style>



    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-team',
                properties: {
                    team: {
                        type: Array
                    }
                }
            });
        })();
    </script>
</dom-module>
