<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../menu-behavior/menu-behavior.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="sp-header">
    <template>
        <style include="iron-flex">
            :host {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                z-index: 1000;
                min-height: 70px;
                max-height: 70px;
                position:fixed;
                display: block;
                width: 100%;
                background: #F6F6F6;
                color: #FFF;
            }
            .header__menu {
                width: 100%;
            }
            .header__menu-toggle {
                border: none;
                background: none;
                font-size: 30px;
                padding-left: 20px;
            }
            .header__menu-toggle {
                display: none;
                cursor: pointer;
                color: #03A9F4;
                max-width: 30px;
            }
            .content-wrapper ::content > [item] a {
                display: block;
                margin: 10px;
                padding: 18px;
                border-bottom: 2px solid rgba(0, 184, 255, 0.18);
            }
            .content-wrapper ::content > [item].active a,
            .content-wrapper ::content > [item]:hover a {
                color: #03a9f4;
                text-decoration: none;
                border-bottom: 2px solid #8acffa;
            }
            .content-wrapper {
                padding: 0;
                margin: 0;
            }
            .content-wrapper ::content > [item] {
                display: inline-block;
                font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 18px;
                line-height: 16px;
                font-weight: 400;
                text-decoration: none;
                color: #03A9F4;
                min-width: 130px;
                max-width: 100%;
            }
            .header__menu-logo {
                position: absolute;
                left: 0;
                display: inline-block;
                padding: 20px;
            }

            .header__menu {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                text-align: center;
            }
            * {
                display: inline-block;
            }
            @media (min-width: 600px) {

            }

            @media (max-width: 600px) {
                .header__menu-toggle {

                    display: inline-block;
                }
                .header__menu-wrapper {
                    display: none;
                }
                .header__menu-logo {
                    position: relative;
                }
            }
        </style>
            <nav class="header__menu">
                <div class="header__menu-logo">
                    <a ui-sref="home.main">Safe Passage Canada</a>
                </div>
                <button id="toggleButton" class="js-menu-show header__menu-toggle fit">
                    <i class="fa fa-bars menu-icon"></i>
                </button>
                <ul class="header__menu-wrapper content-wrapper">
                    <content id="content"></content>
                </ul>
            </nav>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-header',
                properties: {
                    menu: {
                        type: String,
                        notify: true
                    },
                    $menu: {
                        type: Object,
                        notify: true
                    }
                },
                behaviors: [Behaviors.MenuBehavior],
                attached: function() {
                    this.$menu = document.querySelector(this.menu);
                    this.$toggleButton = Polymer.dom(this.root).querySelector('.js-menu-show');

                    this._handleToggle = this._handleToggle.bind(this);

                    this._addListeners();
                },
                _addListeners: function() {
                    this.listen(this.$.toggleButton, 'tap', '_handleToggle');
                },
                _handleToggle: function() {
                    this.$menu.showSideNav();
                }


            });
        })();
    </script>
</dom-module>
