<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">
<link rel="import" href="../sp-contact-form/sp-contact-form.html">


<dom-module id="sp-contact-dialog">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
            }
            :host .action-buttons > paper-button {
                color: white;
                background-color: var(--secondary-font-color);
            }
        </style>
        <template is="dom-if" if="{{!customButton}}">
            <div class="action-buttons layout center-justified">
             <paper-button  on-click="_clickHandler" raised>Contact Us</paper-button>
            </div>
        </template>
        <paper-dialog id="dialog" entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">
            <sp-contact-form id="form"></sp-contact-form>
        </paper-dialog>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-contact-dialog',
                _clickHandler: function(event) {
                    var dialog = this.$.dialog;
                    this.open();
                },
                properties: {
                    customButton: {
                        type: Boolean,
                        notify: true,
                        value: false
                    }
                },
                close: function() {
                    var dialog = this.$.dialog;
                    dialog.close();
                },
                listeners: {
                    'iron-overlay-closed': '_closedHandler'
                },
                _closedHandler: function(event) {
                    this.$.form.hide();
                },
                open: function() {
                    var dialog = this.$.dialog;
                    if (! this.$.form.completed) {
                        this.$.form.showing = true;
                    }
                    this.$.form.renderCaptcha();
                    dialog.open();
                }
            });
        })();
    </script>

</dom-module>
