<style is="custom-style">

    .form-container {
        transform: translateY(-1em);
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
    }
    paper-spinner {
        min-width: 60px;
        min-height: 60px;
    }
    paper-button {
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px auto;
        min-width: 100%;
        color: #ffffff;
        background-color: #00c3a5;
    }
    .card-actions a {
        text-decoration: none;
    }
    .form-button {
        @apply(--layout-center-justified);
        @apply(--layout-horizontal);
    }

</style>

<div class="form-container">
    <paper-card heading="Login form" animated-shadow>
        <div class="card-content">

            <paper-input-container>
                <label>Email</label>
                <input is="iron-input" ng-model="auth.user.login_email" id="username" sp-enter="auth.login()">
            </paper-input-container>
            <paper-input-container label="Input label">
                <label>Password</label>
                <input type="password" is="iron-input" ng-model="auth.user.password" sp-enter="auth.login()">
            </paper-input-container>
            <div ng-show="auth.error">
                <paper-input-error id="error" invalid="">
                    {{auth.error}}
                </paper-input-error>
            </div>
        </div>

        <div class="card-actions">
            <paper-spinner active ng-if="auth.submit"></paper-spinner>
            <div class="" ng-show="!auth.submit">
                <paper-button  ng-click="auth.login()" tabindex="0" raised="" class="colorful">
                    Login
                </paper-button>

            </div>
            <div class="vertical">
                <a ui-sref="auth.reset" flex>
                    Forgot your password?
                </a>
            </div>
        </div>


    </paper-card>
</div>
