<form class="register-form" layout="column" name="register.form.user">
    <md-input-container>
        <label>Login Email</label>
        <input ng-model="register.user.email" name="email" type="text" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.email.$error"
             ng-show="register.form.user.$submitted || register.form.user.email.$touched">
            <div ng-message="required">Login email is required</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <md-input-container>
        <label>Create a Password</label>
        <input ng-model="register.user.password" ng-minlength="8" name="password" type="password" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.password.$error"
             ng-show="register.form.user.$submitted || register.form.user.password.$touched">
            <div ng-message="required">Password field is required</div>
        </div>

        <div class="errors" ng-messages="register.form.user.password.$error"
             ng-show="register.form.user.$submitted || register.form.user.password.$touched">
            <div ng-message="minlength">Short passwords are easy to guess. Try one with at least 8 characters</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <md-input-container>
        <label>Confirm your password</label>
        <input ng-model="register.user.passwordConfirm" sp-identical="register.user.password" name="passwordConfirm" type="password" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.passwordConfirm.$error"
             ng-show="register.form.user.$submitted || register.form.user.passwordConfirm.$touched">
            <div ng-message="required">Please confirm your password</div>
        </div>
        <div class="errors" ng-messages="register.form.user.passwordConfirm.$error"
             ng-show="register.form.user.$submitted || register.form.user.passwordConfirm.$touched">
            <div ng-message="identical">These passwords don't match. Try again?</div>
        </div>
        <!-- End of error message -->
    </md-input-container>

    <md-input-container>

        <label>First Name</label>
        <input ng-model="register.user.first_name" name="firstName" type="text" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.firstName.$error"
             ng-show="register.form.user.$submitted || register.form.user.firstName.$touched">
            <div ng-message="required">First name is required!</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <md-input-container>
        <label>Last Name</label>
        <input ng-model="register.user.last_name" name="lastName" type="text" required>
        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.lastName.$error"
             ng-show="register.form.user.$submitted || register.form.user.lastName.$touched">
            <div ng-message="required">Last name is required!</div>
        </div>
        <!-- End of error message -->
    </md-input-container>
    <div layout="row">
        <md-input-container flex>
            <label>Country</label>
            <md-select ng-model="register.user.country" name="country" required>
                <md-option ng-repeat="country in register.countries | orderBy:'country.name'" sp-selected="register.sponsor.country" ng-value="country">
                    {{country.name}}
                </md-option>
            </md-select>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.user.country.$error"
                 ng-show="register.form.user.$submitted || register.form.user.country.$touched">
                <div ng-message="required">Country is required</div>
            </div>
            <!-- End of error message -->
        </md-input-container>
        <md-input-container flex>
            <label>City</label>
            <input ng-model="register.sponsor.city" name="city" type="text" required>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.sponsor.city.$error"
                 ng-show="register.form.sponsor.$submitted || register.form.sponsor.city.$touched">
                <div ng-message="required">City name is required</div>
            </div>
            <!-- End of error message -->
        </md-input-container>

        <md-input-container ng-if="register.user.country.code === 'US'" flex>
            <label>State</label>
            <md-select ng-model="register.user.state" name="state" required>
                <md-option ng-repeat="state in register.states | orderBy:'state.name'" ng-value="state.code">
                    {{state.name}}
                </md-option>
            </md-select>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.user.state.$error"
                 ng-show="register.form.user.$submitted || register.form.user.state.$touched">
                <div ng-message="required">State is required</div>
            </div>
            <!-- End of error message -->
        </md-input-container>
    </div>

    <md-input-container>
        <label>Address</label>
        <input ng-model="register.user.address" name="address" type="text" required>
        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.user.address.$error"
             ng-show="register.form.user.$submitted || register.form.user.address.$touched">
            <div ng-message="required">Address is required</div>
        </div>
        <!-- End of error message -->
    </md-input-container>


</form>