<form id="signup-form" class="register-form" layout="column" name="register.form.sponsor">
    <md-input-container>
        <label>Organization Type</label>
        <md-select ng-model="register.sponsor.type" required name="type">
            <md-option ng-repeat="type in register.types" ng-value="type">
                {{type.name}}
            </md-option>
        </md-select>
            <div class="errors" ng-messages="register.form.sponsor.type.$error" ng-show="register.form.sponsor.$submitted || register.form.sponsor.type.$touched">
                <div ng-message="required">Please specify the type of organization</div>
            </div>
        </div>
    </md-input-container>

    <md-input-container ng-if="register.sponsor.type.value">
        <label ng-if="register.sponsor.type.value === 'SAH'">
            Name of SAH
        </label>
        <label ng-if="register.sponsor.type.value === 'CS'">
            Name of organization
        </label>
        <label ng-if="register.sponsor.type.value === 'GOF'">
            Name of sponsoring group
        </label>
        <label ng-if="register.sponsor.type.value === 'GOT'">
            Name of sponsoring group
        </label>
        <label ng-if="register.sponsor.type.value === 'NPLP'">
            Name of Organization
        </label>
        <input ng-model="register.sponsor.name" name="name" type="text" required on-error="Name is required">
        <div class="errors" ng-messages="register.form.sponsor.name.$error"
             ng-show="register.form.sponsor.$submitted || register.form.sponsor.name.$touched">
            <div ng-message="required">Name is required!</div>
        </div>
    </md-input-container>

    <md-input-container>
        <label>Phone Number</label>
        <input ng-model="register.sponsor.phone" type="number" name="phone" required sp-on-error="Phone is required!">

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.sponsor.phone.$error" ng-show="register.form.sponsor.$submitted || register.form.sponsor.phone.$touched">
            <div ng-message="required">Phone number is required!</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="register.sponsor.email" name="email" type="text" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.sponsor.email.$error" ng-show="register.form.sponsor.$submitted || register.form.sponsor.email.$touched">
            <div ng-message="required">Please tell us your email</div>
        </div>
        <!-- End of error message -->

    </md-input-container>

    <md-input-container>
        <label>Representative Full Name</label>
        <input ng-model="register.sponsor.representative_name" name="repName" type="text" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.sponsor.repName.$error"
             ng-show="register.form.sponsor.$submitted || register.form.sponsor.repName.$touched">
            <div ng-message="required">Representative name is required</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <md-input-container>
        <label>Number of members</label>
        <input ng-model="register.sponsor.numberOfMembers" name="numMembers" type="number" required>

        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.sponsor.numMembers.$error"
             ng-show="register.form.sponsor.$submitted || register.form.sponsor.numMembers.$touched">
            <div ng-message="required">Please tell us how many members you have in your team</div>
        </div>
        <!-- End of error message -->

    </md-input-container>
    <div layout="row">
        <md-input-container flex>
            <label>Country</label>
            <md-select ng-model="register.sponsor.country" name="country" required>
                <md-option ng-repeat="country in register.countries | orderBy:'country.name'" ng-value="country">
                    {{country.name}}
                </md-option>
            </md-select>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.sponsor.country.$error"
                 ng-show="register.form.sponsor.$submitted || register.form.sponsor.country.$touched">
                <div ng-message="required">Country is required</div>
            </div>
            <!-- End of error message -->
        </md-input-container>
        <md-input-container ng-if="register.sponsor.country.code === 'US'" flex>
            <label>State</label>
            <md-select ng-model="register.sponsor.state" name="state" required>
                <md-option ng-repeat="state in register.states | orderBy:'state.name'" ng-value="state.code">
                    {{state.name}}
                </md-option>
            </md-select>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.sponsor.state.$error"
                 ng-show="register.form.sponsor.$submitted || register.form.sponsor.state.$touched">
                <div ng-message="required">State is required</div>
            </div>
            <!-- End of error message -->

        </md-input-container>
        <md-input-container flex>
            <label>City</label>
            <input ng-model="register.sponsor.city" name="city" type="text" required>
            <!-- Start of error message -->
            <div class="errors" ng-messages="register.form.sponsor.city.$error"
                 ng-show="register.form.sponsor.$submitted || register.form.sponsor.city.$touched">
                <div ng-message="required">City name is required</div>
            </div>
            <!-- End of error message -->
        </md-input-container>
    </div>

    <md-input-container>
        <label>Address</label>
        <input ng-model="register.sponsor.address" name="address" type="text" required>
        <!-- Start of error message -->
        <div class="errors" ng-messages="register.form.sponsor.address.$error"
             ng-show="register.form.sponsor.$submitted || register.form.sponsor.address.$touched">
            <div ng-message="required">Address is required</div>
        </div>
        <!-- End of error message -->
    </md-input-container>

    <md-checkbox class="md-primary"
                 ng-model="register.sponsor.previousExperience"
                 name="previousExperience"
                 aria-label="Previous experience">
        Previous experience
    </md-checkbox>

    <!-- Sponsorship Agreement Holder - SAH -->
    <div >

    </div>
    <div ng-if="register.input.type.value === 'CS'">
        {{register.input.type}}
    </div>
    <div ng-if="register.input.type.value === 'GOF'">
        {{register.input.type}}
    </div>
    <div ng-if="register.input.type.value === 'GOT'">
        {{register.input.type}}
    </div>
    <div ng-if="register.input.type.value === 'NPLP'">
        {{register.input.type}}
    </div>
</form>