<style is="custom-style">
    :root {

    }
    .title {
        font-size: 72px;
        color: #B0BEC5;
        text-align: center;
        margin-bottom: 40px;
        line-height: 1em;
        font-weight: 100;
        font-family: 'Lato';
    }
    @media (max-width: 600px) {
        .title {

        }
    }
</style>
<div class="container" flex>
    <div class="content" flex="100">
        <div class="title">Registration will be available soon.</div>
        <sp-contact-widget></sp-contact-widget>
    </div>
</div>