<style is="custom-style">
    paper-card {
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
    }
    :root {

        --paper-listbox-background-color: white;
    }
    paper-spinner {
        min-width: 60px;
        min-height: 60px;
    }
    paper-button {
        padding-left: 20px;
        padding-right: 20px;
        margin: 1em;
        color: #ffffff;
        background-color: #00c3a5;
    }
    .form-button {
    @apply(--layout-center-justified);
    @apply(--layout-horizontal);
    }
    paper-dropdown-menu {
        text-align: left;
        margin: auto;
        width: 180px;
    }
    paper-card {
        min-width: calc(45% - 20px);
    }
    paper-dropdown-menu.letters {
        width: 90px;
    }
    .horizontal-section {
        text-align: center;
    }
    .button-next {
        float:right;
    }
    paper-button.button-back {
        background-color: var(--main-font-color);
    }



    [ui-view].ng-enter, [ui-view].ng-leave {
        -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
        -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
        -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
        transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    }
    [ui-view].ng-enter, [ui-view].ng-leave.ng-leave-active {
        -webkit-transform: scaleX(0.0001);
        -o-transform: scaleX(0.0001);
        transform: scaleX(0.0001);
        opacity: 0;
    }
    [ui-view], [ui-view].ng-enter.ng-enter-active {
        -webkit-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
    }

</style>
    <paper-card heading="{{$state.current.data.name}}" animated-shadow md-theme="altTheme">
        <div class="card-content">
            <div ui-view class="signup-view"></div>
        </div>
        <!-- form buttons actions, next, previous and submit -->
        <div class="card-actions">
            <paper-spinner active ng-if="register.submited"></paper-spinner>

            <div class="horizontal layout">
                <div class="flex self-end" ng-show="!auth.submit">
                    <paper-button sp-disable="$state.current.data.sequence === 'start'" ng-click="register.back(event)"
                                  tabindex="0" raised=""
                                  class="colorful flex self-end button-back">
                        Back
                    </paper-button>
                </div>
                <div class="flex self-start" ng-show="$state.current.data.sequence !== 'end'">
                    <paper-button tabindex="0" raised="" class="colorful button-next" ng-click="register.next(event)">
                        Next
                    </paper-button>

                </div>
                <div class="flex self-start" ng-show="$state.current.data.sequence === 'end'">
                    <paper-button tabindex="0" raised="" class="colorful button-next" ng-click="register.submit(event)">
                        Submit
                    </paper-button>

                </div>
            </div>

        </div>
    </paper-card>