<style is="custom-style">
    .auth {
        min-height: 100vh;
    }
    .form {
        width: 100%;
    }
</style>
<div class="center-center layout auth">
    <div ui-view flex class="form"></div>
</div>