<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="sp-cover-image">
    <template>
        <style>
            :host {
                display: block;
                position: relative;
                min-width: 100%;
                text-transform: uppercase;
                height: 600px;
                background: no-repeat center 0;
                background-size: cover;
            }
            .content ::content .title {
                @apply(--main-title-font);
            }
            .content ::content .description, .content ::content .after {
                color: rgba(0, 0, 0, 0.65) !important;
                @apply(--main-paragraph-font);

            }
            .content ::content .after {

            }
            :host .container {
                color: white;

                position: relative;
                text-align: center;
                top: calc(26% - 40px);
            }
            .content ::content {
                font-size: 2em;
            }

            @media (min-width: 1600px) {
                :host {
                    height: 960px;
                }
            }
            @media (max-width: 1299px) {
                :host .container {
                }
            }

            @media (min-width: 983px) {
                .content ::content .description, .content ::content .after {
                    width: 700px;
                }
            }

            @media (max-width: 667px) {

                :host .container {
                    padding: auto;
                }
                .content ::content .after , .content ::content .description {
                    font-size: 0.5222em;
                }
                :host .content {
                    width: 100%;
                }
            }

            @media (max-width: 643px) {

            }
        </style>
        <div class="container">
            <div class="content layout vertical">
                <div class="layout center-justified">
                    <content select=".title"></content>
                </div>
                <div class="layout center-justified">
                    <content select=".description"></content>
                </div>
                <div class="layout center-justified">
                    <content select=".after"></content>
                </div>
            </div>
        </div>

    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-cover-image',

                properties: {
                    image: {
                        type: String,
                        value: '',
                        notify: true
                    },
                    height: {
                        type: Number,
                        value: 600,
                        notify: true
                    }
                },
                attached: function() {
                    //background: url(app/images/refugee_girl-big.jpeg) center 0 no-repeat;
                    this.style.backgroundImage = "url(" + this.image + ")";
//                    this.style.height = this.height + "px";
                }
            });
        })();
    </script>

</dom-module>
