<section id="contact">
    <div class="highlightBox">
        <div class="boxBg page-block-big">
            <div class="container wow fadeIn animated" data-wow-offset="50" data-wow-delay="1s" style="visibility: visible; -webkit-animation-delay: 1s;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2 col-sm-12 contact">
                        <div class="contactInfo BGlight">
                            <h1>GET IN TOUCH</h1>
                            <div class="upper">
                                <p class="no-border"><i class="fa fa-clock-o"></i> <strong>Monday - Friday:</strong> <br>9:00am - 6:00pm</p>
                                <p><i class="fa fa-phone"></i> <strong>Phone:</strong><br> 310.555.1213</p>
                            </div>
                            <div class="lower">
                                <p><i class="fa fa-map-marker"></i><strong>Address:</strong><br> 123 Main Street<br>Your City, State Country.</p>
                            </div>
                        </div>

                        <div class="contactForm">
                            <p>Fill up form below for appointment. All fields are required.</p>
                            <form id="contact_form" method="post" action="">
                                <div class="form-row">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                                </div>
                                <div class="form-row">
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone (optional)">
                                </div>
                                <div class="form-row">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                </div>
                                <div class="form-row">
                                    <input type="datetime" class="form-control" value="" id="datetimepicker" name="datetimepicker" placeholder="Preffered Date &amp; Time">
                                </div>
                                <div class="form-row">
                                    <textarea cols="60" rows="3" id="comment" name="comment" class="form-control" placeholder="Write your comment here..."></textarea>
                                </div>
                                <div class="form-row">
                                    <input type="text" id="security" name="security" class="form-control hide" value="">
                                    <input type="submit" value="Submit" class="btn btn-dark btn-lg" id="submit" name="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</section>