<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">

<dom-module id="sp-card">
    <template>
        <style>
            :host {
                display: block;
                margin-left: 1em;
            }
            :host paper-card {
                width: 100%;
                /*width: calc(97% - 30px);*/
                /*max-width: 530px;*/
                min-height: 650px;

                display: inline-block;
                margin: 16px auto;
                background-color: #fff;
            }



            @media (max-width: 600px) {
                :host {
                    margin: auto;
                }
                .fancy img {
                    width: 104%;
                }
                paper-card {
                    --menu-container-display: none;
                    /*width: calc(106.33% - 32px);*/
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        </style>
        <paper-card class='fancy' elevation="0" cascaded>
            <div class="card-content">
                <div class="title">
                    <div class="medium">
                        <h3>
                            <span>{{title}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- take this out of the content class so that it can span the whole card -->
            <img id={{index}} class="image" src="{{computedImageUrl}}">

            <div class="card-content">{{content}}</div>
        </paper-card>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-card',

                behaviors: [
                    Polymer.CascadedAnimationBehavior,
                ],

                properties: {
                    image: {
                        type: String,
                        value: '',
                        notify: true
                    },
                    computedImageUrl: {
                        type: String,
                        computed: 'computeImageUrl(image)',
                        notify: true
                    },
                    content: {
                        type: String,
                        value: 'content',
                        notify: true
                    },
                    index: {
                        type: String,
                        notify: true
                    },
                    title: {
                        type: String,
                        value: 'title',
                        notify: true
                    }
                },
                computeImageUrl: function(image) {
                    if (image.indexOf('{{') ==! -1) {

                    }
                    return image.indexOf('{{') ? image : '';
                }
            });
        })();
    </script>
</dom-module>
