<h1>
    Edit posts
</h1>
<paper-card>
    Title: <input ng-model="vm.post.attributes.title">
    <sp-textarea sp-data="vm.post" id="editPost"></sp-textarea>
    <div class="card-actions">
        <paper-button raised id="save" ng-click="vm.savePost()">Save</paper-button>
    </div>
</paper-card>