<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../styles/shared-styles.html">

<dom-module id="sp-section">
    <template>
        <style include="">
            :host {
                display: block;
                min-width: 100%;
            }
            :host .section {
                text-align: center;
            }
            :host .content > .vertical {
                width: 100%;
            }
            .content ::content paper-button {
                background-color: var(--secondary-font-color);
            }
            .content {
                margin: auto 10%;
                padding-top: 4em;
                padding-bottom: 2em;
            }
            :host .title {
                @apply(--main-title-font);
            }
            :host .section {
                @apply(--main-paragraph-font);
            }
            .odd {
                @apply(--banners-background-theme);
            }
            .even {
                @apply(--banners-background-theme);
                /*color: #F5F5F5;*/
                /*background: #80CBC4;*/
            }
        </style>

        <section layout-align="center center" class$="{{location}}">
            <div id="content" class="content horizontal layout center">
                <div class="vertical layout center">
                    <template is="dom-if" if="{{title}}">
                        <h2 class="md-display-3 title flex">{{title}}</h2>
                    </template>
                    <div class="flex">
                        <p class="section"></p>
                        <div class="layout center-justified">
                        <content select=".action-buttons"></content>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-section',

                properties: {
                    index: {
                        type: String,
                        value: "1"
                    },
                    location: {
                        type: String,
                        computed: 'computeLocation(index)'
                    },
                    title: {
                        type: String,
                        notify: true
                    },
                    height: {
                        type: Number,
                        value: 200
                    },
                    unfilteredContent: {
                        type: String,
                        notify: true,
                        computed: 'computeContent(content)'
                    },
                    content: {
                        type: String,
                        notify: true
                    }
                },
                computeContent: function(content) {
                    this.$$('.section').innerHTML = content;
//                    this.querySelector(".section").innerHTML = content;
                },
                attached: function() {
                },
                computeLocation: function(location) {
                    return (location % 2 === 0) ? 'even' : 'odd';
                }
            });
        })();
    </script>
</dom-module>
