<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-scroll-target-behavior/iron-scroll-target-behavior.html">


<script>
    window.Behaviours = window.Behaviours || {};
    Behaviours.ScrollableBehaviourImp = {

        properties: {
            showing: Boolean,
            scrollTarget: {
                type: String,
                value: 'html'
            }
        },
        attached: function() {
        },
        _scrollHandler: function() {

            if (this._scrollTop >= (this.offsetTop - 300)) {
                this._updateCascadedNodes();
                var self = this;
                setTimeout(function() {
                    self.showing = true;
                }, 1)
            }
        }

    }

    Behaviours.ScrollableBehaviour = [
        Polymer.IronScrollTargetBehavior,
        Behaviours.ScrollableBehaviourImp
    ];


</script>