
<sp-pane name="content_tab">
    <div class="tab-content" ng-transclude></div>
</sp-pane>
<sp-pane name="edit_tab">
    <h1>
        Edit posts
    </h1>
    <div style="max-width: 400px;">
        <sp-textarea sp-data="vm.item" enabled="vm.editMode" is-admin="vm.isAdmin" ng-attr-class="editors_{{vm.item.id}}"> </sp-textarea>
    </div>
    <!--<paper-card>-->
    <!--Title: <input ng-model="vm.item.attributes.title">-->
    <!--<div class="card-content">-->
    <!---->
    <!--</div>-->
    <!--<div class="card-actions">-->
    <!--<paper-button raised id="save" ng-click="vm.savePost()">Save</paper-button>-->
    <!--</div>-->
    <!--</paper-card>-->
</sp-pane>
<div ng-show="vm.isAdmin">
<paper-fab icon="create"
           ng-click="vm.selectByName('edit_tab')"
        ng-show="vm.paneActive('content_tab')"></paper-fab>
<div ng-show="vm.paneActive('edit_tab')" class="flex">
    <paper-button raised ng-click="vm.selectByName('content_tab')">
        Back
    </paper-button>
    <paper-button raised ng-click="vm.savePost()">
        Save
    </paper-button>
</div>
</div>