<md-toolbar layout="row"  class="md-whiteframe-z2 md-tall main-tool-bar">
    <div flex="10" hide-gt-sm >
        <md-button class="menu md-icon-button" ng-click="main.toggleMenu()" aria-label="Show User List">
            <i class="fa fa-bars menu-icon"></i>
        </md-button>
    </div>

    <div ui-sref="home.main" class="header-logo flex layout center-justified">
        <a>Safe Passage Canada</a>
    </div>
    <div hide show-gt-sm flex class="main-menu horizontal layout center-justified">

        <sp-menu items="{{main.Menu.items}}"></sp-menu>
    </div>

    <div ng-show="main.Menu.user" class="toolbar-user-name" layout="row">
        <h2>
            Hello {{main.Menu.user}}
        </h2>
        <md-menu>
            <md-button aria-label="Open Toolbar" class="md-icon-button toolbar-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-font-icon="fa-ellipsis-v" class="fa toolbar-button" >
                </md-icon>
            </md-button>
            <md-menu-content width="4" >
                <md-menu-item ng-repeat="item in main.Toolbar.items | orderBy:'index'" class="{{main.Toolbar.id}}">
                    <md-button ui-sref="{{item.route}}" md-menu-origin
                               ng-class="{active: $state.includes()}">
                        {{item.name}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>