

    <div class="menuItems">
        <a ui-sref="{{item.route}}"
           class="horizontal"
           ng-repeat="item in main.Menu.items | orderBy:'index'"
           ng-class="{active: $state.includes(item.route)}">
            {{item.name}}
        </a>
    </div>
