<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-whiteframe-z1">
        <h2 flex-offset="20">Safepassage</h2>
    </md-toolbar>
    <md-list class="side-nav-list">
        <md-list-item ng-repeat="item in main.Menu.items | orderBy:'index'">
            <md-button ng-click="main.closeMenu()" ng-class="{active: $state.includes(item.route)}" ui-sref="{{item.route}}">                {{item.name}}            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>