<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">

<dom-module id="sp-spinner">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                display: block;
            }
            :host #spinner {
                width: 60px;
                height: 60px;
                color: #03a9f4;
                position: relative;
                left: 50%;
                top: 50%;
                margin: 60px 0 60px 0;
            }

        </style>
        <div on-dom-change="_updateCascadedNodes">
            <content></content>
            <div id="spinner">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
        </div>

    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-spinner',

                properties: {
                },
                _updateCascadedNodes: function(e) {
                    this.hideSpinner();
                },
                hideSpinner: function() {
                    this.$.spinner.style.display = 'none';
                },
                showSpinner: function() {
                    this.$.spinner.style.display = 'block';
                },
                ready: function() {
                }
            });
        })();
    </script>

</dom-module>
