<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">


<dom-module id="sp-contact-form">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {
                --paper-spinner-stroke-width: 6px;
                --paper-input-container-color: var(--secondary-font-color);
                display: block;
                --paper-input-container-focus-color: var(--main-font-color);
            }

            :host paper-button {
                padding: 10px;
                background-color: var(--secondary-font-color);
                margin-top: 15px;
                font-size: 20px;
                color: white;
            }
            .title {
                font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                color: rgba(0, 0, 0, 0.65);
                font-size: 1.2rem;
                line-height: 2;
                display: inline-block;
                font-weight: 600;
                letter-spacing: .1rem;
                line-height: 30px;
            }
            :host .errors {
                color: #dd2c00;
                display: inline-block;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.011em;
                line-height: 20px;
            }
            :host .completed-message {
                color: #66BB6A;
                text-align: center;
            }
            :host .completed-message i.fa-check {
                color: #66BB6A;
                font-size: 75px;
                padding: 35px;
            }
            :host .spinner > .fa-spinner {
                font-size: 70px;
                margin: 40px auto;
            }
            :host .spinner {
                color: var(--secondary-font-color);
                text-align: center;
            }
            :host .submit-message , :host .completed-message {
            @apply(--paper-font-headline);
            }
        </style>
        <div class="layout vertical wrap">
            <div class="title flex">
                Contact us
            </div>
            <template is="dom-if" if="{{submitted}}">
                <div class="flex spinner" >
                    <!--<paper-spinner active></paper-spinner>-->
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="submit-message">Submitting request...</div>
            </template>
            <template is="dom-if" if="{{completed}}">
                <div class="completed-message">
                    <i class="fa fa-check"></i>
                    <div>
                        Thank you!
                    </div>
                </div>
            </template>
            <paper-input cascaded label="Name" required value="{{form.name::input}}">
                <paper-icon-button suffix icon="clear"></paper-icon-button>
            </paper-input>
            <gold-email-input cascaded label="Email Address" id="email" required value="{{form.email::input}}">
                <paper-icon-button suffix icon="clear"></paper-icon-button>
            </gold-email-input>
            <paper-input cascaded label="Subject" required value="{{form.subject::input}}">
                <paper-icon-button suffix icon="clear"></paper-icon-button>
            </paper-input>
            <paper-textarea cascaded label="Message" required value="{{form.body::input}}"></paper-textarea>
            <template is="dom-if" if="{{!completed}}">
                <div class="g-recaptcha" id="recaptcha"></div>
                <template is="dom-if" if="{{errors.recaptcha}}">
                    <div class="errors">Please make sure you are not a robot</div>
                </template>
            </template>
            <paper-button raised cascaded class="layout center-justified" on-click="_submitHandler">Submit</paper-button>
        </div>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-contact-form',

                behaviors: [
                    Polymer.CascadedAnimationBehavior,
                ],
                properties: {
                    form: {
                        type: Object,
                        value: {},
                        notify: true
                    },
                    height: {
                        type: Number,
                        notify: true
                    },
                    submitted: {
                        type: Boolean,
                        notify: true,
                        value: false,
                        observer: '_submittedChanged'
                    },
                    spinner: {
                        type: Boolean,
                        notify: true
                    },
                    valid: {
                        type: Boolean,
                        notify: true
                    },
                    errors: {
                        type: Object,
                        notify: true,
                        observer: '_errorsChanged'
                    },
                    captchaAdded: {
                        type: Boolean,
                        readOnly: true,
                        value: false,
                        notify: true
                    },
                    completed: {
                        type: Boolean,
                        value: false,
                        notify: true,
                        observer: '_completedChanged'
                    }
                },
                _submittedChanged: function(newValue, oldValue) {
                },
                _completedChanged: function(newValue, oldValue) {
                },
                reset: function() {
                    this.submitted = false;
                    this.completed = false;
                    this.form = {};
                },
                hide: function() {
                    grecaptcha.reset();
                    this.showing = false;
                },
                attached: function() {
                    var self = this;
                    window.onloadCaptchaCallback = this.captchaCallback;
                    var clearButtons = this.querySelectorAll('paper-icon-button');
                    Array.prototype.forEach.call(clearButtons, function(clear_btn) {
                        clear_btn.addEventListener('tap', self._handleClear);
                    });
                },
                renderCaptcha: function() {
                    if (! this.captchaAdded) {
                        grecaptcha.render('recaptcha', {'sitekey': '6Le20xkTAAAAAHnLGCkM1YZvQTHz5Z7frq-ezrbW'});
                    }
                    this._setCaptchaAdded(true);
                },
                _errorsChanged: function(newValue, oldValue) {
                    var _this = this;
                    grecaptcha.reset();
                    angular.forEach(newValue, function(value, key) {
                        var el = _this.querySelector('#' + key);
                        el.errorMessage = value;
                        el.invalid = true;
                    });
                    this.showing = true;
                    this.submitted = false;
                },
                success: function() {
                    this.completed = true;
                    this.submitted = false;
                    this.showing = false;
                    this.form = {};
                },
                _handleClear: function() {
                    var input = this.parentElement.parentElement.parentElement;
                    input.updateValueAndPreserveCaret('');
                },
                _submitHandler: function() {
                    this.submitted = true;
                    var inputs = this.querySelectorAll('input');
                    var valid = true;
                    for (var i = 0; i < inputs.length; ++i) {
                        var item = inputs[i];
                        if ( ! item.validate()) {
                            this.submitted = false;
                            valid = item.validate();
                        }
                    }
                    var recaptchaResponse = grecaptcha.getResponse();
                    if (!valid) {
                        this.submitted = false;
                        this.valid = false;
                        return;
                    }
                    this.showing = false;
                    this.form.recaptcha = recaptchaResponse;

                    this.fire('form-submitted', this.form);
                }
            });
        })();
    </script>

</dom-module>
