<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sp-split-section">
    <template>
        <style include="shared-styles"></style>
        <style>
            :host {

                display: block;
            }
            @media (max-width: 800px) {
                .responsive.horizontal.layout {
                    -ms-flex-direction: column;
                    -webkit-flex-direction: column;
                    flex-direction: column
                }

                .responsive.horizontal.layout:not(.center):not(.center-center) {
                    display: block
                }
            }
            :host .container {
                @apply(--layout-center-justified);
            }
            .layout ::content h3 {
                cursor: pointer;
                font-family: 'Montserrat', Helvetica, Arial, sans-serif;
                font-weight: 400;
                line-height: 2rem;
                font-size: 30px;
                padding-bottom: 8px;
                margin: 16px 0;
                border-bottom: 2px solid;
            }

            .layout ::content paper-button {
                @apply(--layout-center-justified);
            }
            .layout ::content p {
                color: rgba(0, 0, 0, 0.65) !important;
                @apply(--main-paragraph-font);
            }
            .section-right ::content h3 {
                color: #147BCC;
            }
            .section-left ::content h3 {
                color: #4FB6F7;
            }
            .layout ::content > * {
                padding: 20px;
                max-width: 500px;
            }

            @media (max-width: 768px) {
                .layout ::content > * {
                    padding: 20px;
                    max-width: 100%;
                }
            }
        </style>

        <div class="responsive horizontal layout container">
            <div class="section-left flex center">
                <section>
                    <h3 data-click$="[[leftLinkSelector]]">
                        <content select=".left-header"></content>
                    </h3>
                    <p>
                        <content select=".left-content"></content>
                    </p>
                </section>
            </div>
            <div class="section-right flex center">
                <section>
                    <h3 data-click$="[[rightLinkSelector]]">
                        <content select=".right-header"></content>
                    </h3>
                    <p>
                        <content select=".right-content"></content>
                    </p>
                </section>
            </div>
        </div>
    </template>

    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-split-section',

                properties: {
                    leftLinkSelector: {
                        type: String
                    },
                    rightLinkSelector: {
                        type: String
                    }
                },
                listeners: {
                    'tap': '_tapHandler'
                },
                _tapHandler: function(event) {
                    var el = event.target.parentElement;
                    var selector = el.getAttribute('data-click');
                    if (selector) {
                       $(selector).animatescroll();
                    }
                }
            });
        })();
    </script>

</dom-module>
