
<sp-section title="Our Projects"></sp-section>
<sp-split-section left-link-selector="#sap-cards" right-link-selector="#rew-cards">
    <div class="left-header">
        {{apiFetching}}
        Sponsorship Assistance Project
    </div>
    <div class="left-content">
        Assisting sponsors throughout the application process with on-the-ground caseworker assistance in Jordan and our online platform.
    </div>
    <div class="right-header">
        Resettlement Empowerment Project
    </div>
    <div class="right-content">
        Providing English or French language training and cultural orientation and integration workshops to refugees in Jordan.
    </div>
</sp-split-section>

<sp-section content="Sponsorship Assistance Project" id="sap-cards"></sp-section>
<div class="responsive horizontal center-justified wrap layout" id="wedo">
    <sp-projects-grid projects="{{projects.cards['sap-cards']}}"></sp-projects-grid>
</div>

<sp-section content="Resettlement Empowerment Project" id="rew-cards"></sp-section>
<div class="responsive horizontal center-justified wrap layout" id="wedo">
    <sp-projects-grid projects="{{projects.cards['rew-cards']}}"></sp-projects-grid>
</div>
