<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../edit-behavior/edit-behavior.html">



<dom-module id="sp-article">
    <template>
        <style>


            :host {
                max-width: calc(60% - 16px);
                margin: 16px auto;
                padding: 16px 6px 16px 6px;
                display: block;
                font-size: 16px;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                overflow: hidden;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
                background-color: #fff;
            --paper-button: {
                 color: #4FB6F7;
             }

            }
            :host paper-card {
                --paper-card-header: {
                    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
                 };
                --paper-card-header-color: var(--secondary-font-color);
            }
            .content-wrapper > ::content a {
                text-decoration: none !important;
            }
            :host > paper-card {
                background-color: #fff;
            }

            .content-wrapper {
                @apply(--layout-horizontal);
                @apply(--layout-center-justified);
            }


            .content-wrapper > ::content .image {
                @apply(--layout-self-center);
            }

            .content-wrapper > ::content .image img {
                max-width: 150px;
                padding: 0 20px 0 20px;
                border-radius:100%;
            }
            .md-title {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.005em;
                color: #607D8B !important;
            }
            .content-wrapper > ::content .image-container {
                padding: 21px;
                border-radius: 100%;
                height: 100%;
                width: 180px;
            }

            .head {
                display: inline;
            }

            #content {
                transition: all 1s ease;
            }
            :host([disabled]) .card-actions {
                display:none;
            }
            :host([expanded]) {
                max-height: 100%;
            }
            @media (max-width: 600px) {

                :host {

                    text-align: center;
                }
                .content-wrapper > ::content .image img {
                    /*transform: translateX(25%);*/
                    max-width: calc(70% - 20px);
                }
                :host {
                    max-width: calc(100% - 20px);
                }
                :host paper-card {

                }
                .content-wrapper {
                    @apply(‑‑layout-center-justified);
                    @apply(--layout-vertical);
                }
                :host([expanded]) {
                    /*max-height: 100%;*/
                }
                :host {
                    max-height: 100%;
                    height: 100%;
                }
                :host h2, h4 {
                    line-height: 1em;
                }
                #content h4 {
                    line-height: 1em;
                }
            }

            .readMore {
                /*border-bottom: 2px dotted #0EA4EC;*/
                cursor: pointer;
            }

        </style>
        <paper-card heading="{{title}}">
            <div class="flex vertical center-center layout">
                <div class="card-content" content editable>

                    <!-- UNEXPANDED PART OF THE CONTENT -->
                    <div class="head"></div>

                    <iron-collapse id="collapse">
                        <div class="tail"></div>
                    </iron-collapse>
                    <template is="dom-if" if="[[image]]" restamp="true">
                        <div class="horizontal content-wrapper" >

                        </div>
                    </template>
                </div>
            </div>
            <template is="dom-if" if="[[disabled]]" restamp="true">
                <div class="card-actions">
                    <paper-button on-click="_toggle" id="readMoreButton">{{readMore}}</paper-button>
                </div>
            </template>
        </paper-card>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-article',
                properties: {
                    length: {
                        type: Number,
                        notify: true,
                        value: 200
                    },
                    expanded: Boolean,
                    image: {
                        type: String,
                        notify: true,
                        computed: '_computeImage(image)'
                    },
                    readMore: {
                        type: String
                    },
                    index: {
                        type: Number
                    },
                    content: {
                        type: String,
                        value: 'sp-article',
                        notify: true
                    },
                    separatedContent: {
                        type: Array,
                        computed: '_computeContent(content)'
                    },
                    title: {
                        type: String,
                        value: '',
                        notify: true
                    }
                },

                _contentChanged: function(e) {

                },
                _toggle: function() {
                    this.$.collapse.toggle();
                    var el = this.querySelector(".head");
                    // Collapsed article was opened

                    this._removeHellip(el);

                    if (this.$.collapse.opened) {
                        this.readMore = 'Less';
                        return;
                    }
                    this._addHellip(el);
                    // Collapsed article was closed
                    this.readMore = 'Read More';


                },
                _removeHellip: function(el) {
                    el.innerHTML = el.innerHTML.replace('...', '');
                },
                _addHellip: function(el) {
                    if (typeof(el.lastChild.innerText) !== 'undefined' && el.lastChild.innerText.length > 0) {
                        el.lastChild.innerText += "...";
                        return;
                    }
                    el.innerText += "...";
                },
                attached: function() {

                    if (this.expanded) {
                        this.$.collapse.opened = true;
                    }

                    this.readMore = this.$.collapse.opened ? 'Less' : 'Read More';
                },
                // first argument is the change record for the array change,
                // change.base is the array specified in the binding
                arrayItem: function(change, index, path) {
                    // this.get(path, root) returns a value for a path
                    // relative to a root object.
                    return this.get(path, change.base[index]);
                },
                _computeImage: function(image, prev) {
                },
                _computeContent: function(content) {
                    if (this.expanded === true) {
                        var el = this.querySelector(".head");
                        this._removeHellip(el)
                        return this.$$(".tail").innerHTML = content;
                    }
                    var response = [];
                    content = content.implode(this.length);
                    content.map(function(item) {
                        response.push({value: item});
                    });
                    var hellip = this.expanded ? '' : '...';
                    this.$$(".head").innerHTML = response[0].value + hellip;
                    this.$$(".tail").innerHTML = response[2].value;
                    return response;
                }
            });

        })();
    </script>
</dom-module>
