<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/transform-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<script>
    window.Behaviours = window.Behaviours || {};
    Behaviours.CascadedAnimationExitBehaviorImpl = {

        properties: {

            selector: {
                value: '[cascaded]'
            },

            showing: {
                type: Boolean,
                observer: '_showingChanged'
            },

            animationConfig: {
                type: Object,
                value: function() {
                    return {
                        'exit': [{
                            name: 'cascaded-animation',
                            animation: 'slide-up-animation',
                            timing: {
                                delay: 0
                            }
                        },{
                            name: 'cascaded-animation',
                            animation: 'scale-up-animation',
                            timing: {
                                delay: 0
                            }
                        }]
                    }
                }
            }

        },

        attached: function() {
            this.style.opacity = 0;
            this._updateCascadedNodes();
        },

        _showingChanged: function(showing) {
            if (showing) {
                this.async(function() {
                    this.style.opacity = 1;
                }, 100);
                this.playAnimation('entry');
            } else {
                this.style.opacity = 0;
            }
        },

        _updateCascadedNodes: function() {
            var nodes = Polymer.dom(this.root).querySelectorAll(this.selector);
            var entry = this.animationConfig['entry'];
            entry[0].nodes = entry[1].nodes = Array.prototype.slice.call(nodes);
        }

    }

    Polymer.CascadedAnimationBehavior = [
        Polymer.NeonAnimatableBehavior,
        Polymer.NeonAnimationRunnerBehavior,
        Behaviours.CascadedAnimationExitBehaviorImpl
    ];

</script>

<!--
// Copyright (c) 2014 The Polymer Authors. All rights reserved.
-->