

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">
<link rel="import" href="../sp-grid/sp-grid.html">

<dom-module id="sp-feature">

    <style>

        :host {
            display: block;
            font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
        }

        .horizontal-container {
            @apply(--layout-horizontal);
        }
        .vertical-container {
            @apply(--layout-vertical);
        }

        a {
            text-decoration: none;
            font-size: inherit;
            color: inherit;
        }

        .flexchild {
            @apply(--layout-flex);
        }

        :host h2, :host .fa {
            color: #34495e;
        }
        :host p {
            color: #7f8c8d;
        }

        i.fa {
            font-size: 30px;
            padding-right: 20px;
            padding-top: 26px;
        }


        [hidden] {
            display: none;
        }

    </style>

    <template>
        <div class="horizontal-container">
            <div>
                <i class="fa" id="icon"></i>
            </div>
            <div class="vertical-container">
                <div class="flex-4">
                    <h2>{{title}}</h2>
                </div>
                <p>{{content}}</p>
            </div>
        </div>

    </template>

    <script>

        Polymer({

            is: 'sp-feature',

            properties: {

                title: {
                    type: String
                },
                showing: Boolean,
                icon: {
                    type: String
                },
                content: {
                    type: String
                }
            },
            isEmpty: function(obj) {
                for(var prop in obj) {
                    if(obj.hasOwnProperty(prop))
                        return false;
                }
                return true;
            },
            attached: function() {
                this.$.icon.classList.add(this.icon);
            }

        });

    </script>

</dom-module>

<!--
// Copyright (c) 2014 The Polymer Authors. All rights reserved.
-->