<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/hero-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<dom-module id="sp-to-top">
    <template>
        <style>
            :host {
                display: none;
            }
            :host paper-fab{
                position: fixed;
                left: 90%;
                top: 80%;
                color: #F5F5F5;
                background-color: #4FB6F7;
            }

            @media (max-width: 667px) {
                :host paper-fab{
                    left: 80%;
                    top: 85%;
                }
            }
        </style>
        <paper-fab icon="arrow-upward" title="up"></paper-fab>
        <!--<md-button class="md-fab md-primary to-top-button" aria-label="to-top"><i class="fa fa-arrow-up"></i></md-button>-->
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-to-top',
                behaviors: [
                    Polymer.NeonAnimationRunnerBehavior,
                ],
                properties: {
                    showing: {
                        type: Boolean,
                        value: false
                    },
                    animationConfig: {

                        value: function() {
                            return {
                                'entry': {
                                    // provided by neon-animation/animations/scale-up-animation.html
                                    name: 'fade-in-animation',
                                    node: this,
                                    timing: {
                                        duration: 1000
                                    }
                                },
                                'exit': {
                                    // provided by neon-animation-animations/fade-out-animation.html
                                    name: 'fade-out-animation',
                                    node: this
                                }
                            }
                        }
                    }
                },
                listeners: {
                    'tap': '_handleTap',
                    'neon-animation-finish': '_onNeonAnimationFinish'
                },
                _onNeonAnimationFinish: function() {
                    if ( ! this.showing) {
                        this.style.display = 'none';
                    }
                },
                attached: function() {
                    this._handleScroll = this._handleScroll.bind(this);
                    window.addEventListener('scroll', this._handleScroll);
                },

                _handleScroll: function(e) {
                    if (window.scrollY > 60) {
                        if ( ! this.showing) {
                            this.listen(this, 'tap', '_handleTap');
                            this._show();
                        }
                    } else  {
                        if ( this.showing) {
                            this.unlisten(this, 'tap', '_handleTap');
                            this._hide();
                        }
                    }

                },
                _show: function() {
                    this.showing = true;
                    this.style.display = 'block';
                    this.cancelAnimation();
                    this.playAnimation('entry');
                },
                _hide: function() {
                    this.showing = false;
                    this.cancelAnimation();
                    this.playAnimation('exit');
                },
                _handleTap: function(e) {
                    $('body').animatescroll();
                }
            });
        })();
    </script>
</dom-module>
