<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="sp-footer">
    <template>
        <style>
            :host {
                display: block;
                padding: 40px;
                position: relative;
                background-color: #fafafa;
                text-align: center;
                min-height: 100%;
                border-top: 1px solid #e5dbd6;
            }
            :host .copyright {
                color: #147BCC;
            }
            :host .designed {
                color: rgba(0, 0, 0, 0.87);
            }
        </style>
        <div class="layout vertical center-justified">
            <p class="copyright flex">
                All rights reserved © 2016 Safe Passage Canada.
            </p>
            <p class="designed">
                Designed and Built by Omri Katz
            </p>
        </div>
    </template>
    <script>
        (function() {
            'use strict';

            Polymer({
                is: 'sp-footer',

                properties: {

                }
            });
        })();
    </script>
</dom-module>
