

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">
<link rel="import" href="../scrollable-behavior/scrollable-behavior.html">
<link rel="import" href="../sp-grid/sp-grid.html">
<link rel="import" href="../sp-feature/sp-feature.html">

<dom-module id="sp-features-grid">

    <style>

        :host {

            display: block;
            width: 100%;
        }
        :host .container {
            padding-top: 4em;
            padding-bottom: 4em;
            background-color: #f9f9f9;
            background-size: 100% 100%;
        }
        @media (min-width: 1299px) {
            :host sp-grid {
                max-width: 1270px;
            }
            :host sp-grid > * {
                width: 400px;
            }
        }
        @media (max-width: 1299px) {
            :host {
                --sp-grid-max-width: 1300px;
            }
            :host sp-grid > * {
                width: 320px;
            }
        }

        a {
            text-decoration: none;
            font-size: inherit;
            color: inherit;
        }

        [hidden] {
            display: none;
        }



    </style>

    <template>
        <div class="container">
            <sp-grid class="layout center-justified">
                <template is="dom-repeat" items="{{arrayFeatures}}" on-dom-change="_updateCascadedNodes">
                    <sp-feature content="{{item.content}}" cascaded title="{{item.title}}" icon="{{item.icon}}">

                    </sp-feature>
                </template>
            </sp-grid>
        </div>
    </template>
    <script>

        Polymer({

            is: 'sp-features-grid',

            behaviors: [
                Polymer.CascadedAnimationBehavior,
                Behaviours.ScrollableBehaviour
            ],

            properties: {

                features: {
                    type: Array
                },
                arrayFeatures: {
                    type: Array,
                    computed: '_computeFeatures(features)'
                }
            },

            _computeFeatures: function(features) {
                if (! this.isEmpty(features)) {
                    return features;

                }
            },
            isEmpty: function(obj) {
                for(var prop in obj) {
                    if(obj.hasOwnProperty(prop))
                        return false;
                }
                return true;
            }

        });

    </script>

</dom-module>

<!--
// Copyright (c) 2014 The Polymer Authors. All rights reserved.
-->