<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<!--
`<slide-down-animation>` animates the transform of an element from `translateY(-100%)` to `none`.
The `transformOrigin` defaults to `50% 0`.

Configuration:
```
{
  name: 'slide-down-animation',
  node: <node>,
  transformOrigin: <transform-origin>,
  timing: <animation-timing>
}
```
-->

<script>

    Polymer({

        is: 'show-more-animation',

        behaviors: [
            Polymer.NeonAnimationBehavior
        ],

        configure: function(config) {
            var node = config.node;
//            node.style.height = '9.5em';
            this._effect = new KeyframeEffect(node, [
                {'height': '9.5em'},
                {'height': '100%'}
            ], this.timingFromConfig(config));
            return this._effect;
        },

        complete: function(config) {
//            config.node.style.height = '100%';
        }

    });

</script>
