<section class="dashboard">
    <md-list class="tabs" layout="row">
        <md-list-item class="tab-item flex"  ng-repeat="item in dashboard.Menu.items | orderBy:'index'">
            <md-button md-no-ink ng-class="{active: $state.includes(item.route)}" ui-sref="{{item.route}}">
                <paper-ripple></paper-ripple>
                {{item.name}}
            </md-button>
        </md-list-item>
    </md-list>
    <paper-input-container type="search" label="Input label">
        <label>Search</label>
        <input type="search" is="iron-input" ng-model="query"/>
    </paper-input-container>
    <div ui-view class="dashboard"></div>
</section>

