<section layout="row">
    <div class="flex">

        <md-list>
            <md-list-item ng-repeat="user in controller.users.data | filter:query" class="md-2-line dashboard-users"
                          ng-click="controller.goToUser(user.type, user.id)">
                <div class="md-avatar">
                    <i class="fa fa-question"></i>
                </div>
                <div class="md-list-item-text">
                    <h3 class="md-headline">{{user.attributes.first_name}}</h3>
                    <p><b>Email:</b>{{user.attributes.email}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </div>

    <div ui-view class="user-details main">
    </div>
</section>
