<div class="details">
    <h2 class="md-headline">
        Profile:
    </h2>
    <p class="md-body">
        Name: {{usersController.user.attributes.first_name}}
    </p>
    <p class="md-body">
        Email: {{usersController.user.attributes.email}}
    </p>
    <p class="md-body">
        Login Email: {{usersController.loginData.attributes.email}}
    </p>
    <p class="md-body">
        Role: {{usersController.user.attributes}}
    </p>


</div>