<div class="details" layout="column">
    <h2 class="md-display-1">
        Profile
    </h2>
    <p class="md-body">
        First Name: {{rusersController.ruser.attributes.first_name}}
    </p>
    <p class="md-body">
        Email: {{rusersController.ruser.attributes.email}}
    </p>
    <p class="md-body">
        Login Email: {{rusersController.loginData.attributes.email}}
    </p>

</div>