<section layout="row">
    <div class="flex">

        <md-list>
            <md-list-item ng-repeat="ruser in controller.rusers.data | filter:query"
                          class="md-2-line dashboard-users"
                          ng-click="controller.goToUser(ruser.type, ruser.id)">
                <div class="md-avatar">
                    <i class="fa fa-question"></i>
                </div>
                <div class="md-list-item-text">
                    <h3>{{ruser.attributes.first_name}}</h3>
                    <p><b>Email:</b>    {{ruser.attributes.email}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
    </div>

    <div ui-view class="user-details">
    </div>
</section>
