/* start of new css using SASS */


$sidenav-width: 250px;
$main-theme-font-color: #03A9F4;
$secondary-color: #4FB6F7;
$title-color: #4FB6F7;
$secondary-background-color: #F5F5F5;
$primary-text-color: #F5F5F5;
$menu-item-border-color: rgba(0, 184, 255, 0.18);
$menu-item-selected: #8ACFFA;
$header-height: 70px;




@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 300;
  src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main[ui-view] {
  padding-top: 70px;
}



.team {
  min-width: 100%;
}

/* custom mixin start */

@mixin animation($duration, $animation) {
  -webkit-animation:$duration $animation;
  -moz-animation:$duration $animation;
  -o-animation:$duration $animation;
  animation:$duration $animation;
}

@mixin transition($duration, $type, $property) {
  -webkit-transition:$duration $type $property;
  -moz-transition:$duration $type $property;
  -o-transition:$duration $type $property;
  transition:$duration $type $property;
}

.fa-check:before {
  color: #4FB6F7;
}


.dashboard-users.ng-move,
.dashboard-users.ng-enter,
.dashboard-users.ng-leave {
  transition:all linear 0.5s;
}

@media all and (max-width: 960px) {
  .header-logo {
    text-align: center;
    padding-right: 40px;
  }
}

.header-logo {
  padding-left: 30px;
  padding-top: 1em;
  cursor: pointer;
}



.about-articles {
  min-width: 100vw;
}
.dot-separator {
  padding: 0 8px;
}

.dot-separator::after {
  content: '\2022';
}

.main {
  min-height: 100vh;
}


html a {
  text-decoration: none;
  color: $secondary-color;
}
html a:hover {
  color: $secondary-color;
}

html body {
  height: auto;
  overflow-x: hidden;
  background: #FFFFFF;
  font-size: 20px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
  line-height: 24px;
  color: #333;
}
html a:hover, html a:focus {
  text-decoration: none;
}





.dashboard-users.ng-leave.ng-leave-active,
.dashboard-users.ng-move,
.dashboard-users.ng-enter {
  opacity:0;
  max-height:0;
}

.dashboard-users.ng-leave,
.dashboard-users.ng-move.ng-move-active,
.dashboard-users.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 60px;
}
.main-content {
  transform: translateY($header-height - 20px);
}

.home .section-about section {
  color: inherit;
  background-color: $secondary-background-color;
}

/* user/ruser details screen styles */

.user-details {
  overflow-x:hidden;
  max-width: 60%;
  margin-left: 20px;
}
.details {
  min-width: 30vw;
}

.tabs .tab-item a {
  width: 100%;
  transition:all linear 0.5s;
  border: solid transparent;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: auto;

}
.tabs .tab-item a:hover {
  border-radius: 0;
  background-color: inherit;
  color: inherit;
}
.tabs .tab-item a.active {
  border-radius: 0;
  border-bottom: solid $secondary-color;
}


/* End of user/ruser details screen styles */

md-tab md-ink-ripple md-active {
  color: black;
}

.main-content {
  min-height: 100vh;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
md-toolbar.main-tool-bar {
  min-height: $header-height;
  max-height: $header-height;
  position: fixed;
}



/* Start of toolbar and nav style */

md-icon.fa.toolbar-button {
  font-size: 1.4em;
  font-weight: 400;
  transform: translateY(-0.2em);
}

@media all and (min-width: 0) and (max-width: 960px) {

}
@media only screen
and (max-width : 600px) {
  /* Styles */

  .user-details {
    max-width: 60%;
  }
  .toolbar-button {
    display: none;
  }
  .flex .toolbar-slug {
    margin-left: 10%;
  }
}

.site-sidenav a.md-button:hover,
.site-sidenav a.active,
md-menu-item.toolbar a.md-button:hover {
  color: $primary-text-color;
  background-color: $secondary-color;
}

.toolbar-user-name {
  margin-left: auto;
  margin-right: 2%;
}
.toolbar-slug {
  margin-left: 2%;
}

.main-tool-bar .md-button {
  width: 60px;
  height: 60px;
  .menu-icon {
    font-size: 24px;
    font-weight: 400;
    line-height: 64px;
  }
}
.main-tool-bar, md-sidenav {
  md-toolbar h1,h2,h3,h4,h5,h6,p {
    font-size: 24px;
    font-weight: 400;
    color: $main-theme-font-color;
  }
}
md-sidenav.site-sidenav {
  width: $sidenav-width;
  min-width: $sidenav-width;
  max-width: $sidenav-width;
}
.side-nav-list {
  padding: 0px 0px 8px 0px;

  md-list-item {
    a {
      margin: 0;
      width: 100%;
      border-radius: 0;
      padding-top: 1em;
      padding-bottom: 1em;
      .md-ripple-container {
        border-radius: 0;
      }
    }
  }
}



html .md-display-3  {

  font-weight: 100;

}




/* end of SASS */






.main-toolbar {
  height: 80px;
}
.articles {
  width: calc(33% - 30px);
}

paper-tabs a {
  color: #FFFFFF;
  text-decoration: none;
}
#wedo {
  background-color: #fafafa;
}
.main .sponsor-header p{
  font-size: 1.4em;
  color: #333333;
  line-height: 40px;
}
sp-card .title {
  text-align: center;
}
.wedo-heading {

  position: relative;
  padding: 50px 20% 21px 20%;
  margin: 0 auto;
  box-sizing: border-box;


}
.wedo-heading p {
  color: #333;
  text-align: center;
  text-align: center;
  font-size: 28px;
  line-height: 46px;
}

.wedo-heading h2 {
  font-size: 40px;
}
.fancy img {
  width: 100%;
}

.gray-banner {

  position: relative;
  padding: 45px 16px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #5A5757;
}
.badge-white p {
  font-size: 23px;
  position: relative;

  right: -6px;
  bottom: 20px;
}
.badge-white {
  color: white;
  font-size: 1.9em;
  position: relative;
  width: 100%;
  padding-left: 14%;
  padding-right: 14%;
  background-color: rgba(238, 238, 238, 0.31);
  bottom: calc(26% - 40px);
}

.big-banner {
  position: relative;
  height: 600px;
  background: url(/app/images/Qadoora-Family-story-big.jpeg) no-repeat 0 0;
  background-size: cover;
}
.auth {
  background-size: cover;
}
.about-view {
  background-color: #eee;
  padding: 20px 0 10px 20px;
}
.about h2 {
  margin-top:0;
}

.about {
  /*padding-top: 5%;*/

  text-align: center;
  font-size: 1.7em;
  line-height: 46px;
}
.contact-us-button {
  font-size: 22px;
}




/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */


@media (max-width: 600px) {
  .big-banner {
    height: 400px;
  }
  .badge-white {
    padding-left: 2%;
  }
  .badge-white h2 {
    font-size: 1em;
  }
  .badge-white p {
    right: 0%;
    text-align: start;
    font-size: 0.6em;
  }
  #content h2, #content h4 {
    line-height: 1em;
  }
  #content h2, #content h4 {
    line-height: 1em;
  }
  #content h2, #content h4 {
    line-height: 1em;
  }
  .fancy img {
    width: 104%;
  }
  .articles {
    width: 100%;
  }
  .badge-white {
    line-height: 40px;
  }
  paper-card.sp-card {
    --menu-container-display: none;
    width: calc(98% - 9px);
    padding-right: 14px;
    margin-left: 2%;
    padding-left: 0px;
    padding-right: 16px;
  }


}



@media (min-width: 1600px) {
  .big-banner {
    height: 960px;
  }
}


/* ==========================================================================
   ANIMATIONS
   ========================================================================== */


.dashboard.ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
  -o-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}


.about.ng-enter {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

.about.ng-leave {
  -webkit-animation: fadeOutLeft 0.5s;
  animation: fadeOutLeft 0.5s;
}

.main.ng-enter {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/*.main.ng-leave {*/
/*-webkit-animation: zoomOut 0.5s;*/
/*animation: zoomOut   0.5s;*/
/*}*/

md-sidenav.site-sidenav {
  position: fixed;
}

/* ==========================================================================
   MENU STYLE
   ========================================================================== */
.menu {
  position: fixed;
}
@media (max-width: 600px) {
  .header-logo {
    padding-left: 0;
  }
}

@media (min-width: 600px) {
  .header-logo {
    position:fixed;
  }
}

sp-menu {
  .menu-tabs {
    min-height: 60px;
  }


  .menuItems a {
    border-bottom: 2px solid $menu-item-border-color;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    padding: 14px;
    font-size: 18px;
    margin: 20px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: $main-theme-font-color;
    min-width: 130px;
    max-width: 100%;
  }

  .menuItems a:hover {
    text-decoration: none;
    color: $main-theme-font-color;
    text-decoration: none;
  }
  .menuItems a:hover, .menuItems a.active {
    color: $main-theme-font-color;
    text-decoration: none;
    border-bottom: 2px solid $menu-item-selected;
  }

  .menuItems {
    padding: 22px;
  }
}


/* ==========================================================================
   Animations
   ========================================================================== */

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -moz-transition: 1500ms cubic-bezier(.17,.67,.83,.67) all;
  -webkit-transition: 1500ms cubic-bezier(.17,.67,.83,.67) all;
  -o-transition: 1500ms cubic-bezier(.17,.67,.83,.67) all;
  transition: 1500ms cubic-bezier(.17,.67,.83,.67) all;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
//  -ms-transform: scale(0.7, 0.7); /* IE 9 */
//  -webkit-transform: scale(0.7, 0.7); /* Safari */
//  transform: scale(0.8, 0.8);
  max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  transform: none;
  max-height:1000px;
}