

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../cascaded-animation-behavior/cascaded-animation-behavior.html">
<link rel="import" href="../scrollable-behavior/scrollable-behavior.html">
<link rel="import" href="../sp-collapsible-card/sp-collapsible-card.html">
<link rel="import" href="../sp-grid/sp-grid.html">

<dom-module id="sp-projects-grid">

    <style>

        :host {
            display: block;
            font-size: 22px;
        }

        a {
            text-decoration: none;
            font-size: inherit;
            color: inherit;
        }

        .photo-wrap {
            position: relative;
            padding-bottom: 75%; /* 4x3 */
            background-color: #eaeaea;
            overflow: hidden;
        }

        .photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
        }

        .card {
            display: inline-block;
            float: left;
            vertical-align: top;
            background-color: #fff;
            -webkit-transform: translateZ(0);
            will-change: transform;
        }

        .card[narrow] {
            box-shadow: none;
            border-bottom: 1px solid #ddd;
        }

        .content {
            position: relative;
            padding: 16px;
        }

        .title {
            font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            color: rgba(0, 0, 0, 0.65);
            font-size: 1.2rem;
            line-height: 2;
            display: inline-block;
            font-weight: 600;
            letter-spacing: .1rem;
            line-height: 30px;
        }

        .title {
            font-weight: 600;
            color: #147BCC;
        }

        .title {
            color: #4FB6F7;
            font-style: italic;
            opacity: 0.8;
        }

        [collapsible-content] {
            padding: 16px 16px 72px;
        }

        .card[narrow] [collapsible-content] {
            padding: 16px;
        }

        .bio {
            font-size: 16px;
        }

        .bottom-tools {
            position: absolute;
            bottom: 16px;
            margin-left: -8px;
        }

        .card[narrow] .bottom-tools {
            position: static;
            margin: 24px 0 24px -8px;
        }

        .bottom-tools > * {
            padding: 8px;
        }

        .toggle-icon {
            position: absolute;
            right: 8px;
            bottom: 4px;
            --iron-icon-width: 40px;
            --iron-icon-height: 40px;
            padding: 8px;
            color: #4FB6F7;
            cursor: pointer;
        }

        .card:not([narrow]) .toggle-icon {
            display: none;
        }

        .card[opened] .toggle-icon {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        [hidden] {
            display: none;
        }

    </style>

    <template>

        <sp-grid>
            <template is="dom-repeat" items="{{projectsArray}}" on-dom-change="_updateCascadedNodes">
                <sp-collapsible-card class="card wow slideInUp" cascaded opened="[[!narrowLayout]]" narrow$="{{narrowLayout}}">
                    <div class="photo-wrap">
                        <img class="photo" src="[[item.image]]" aria-hidden="true">
                    </div>

                    <div class="content">
                        <div class="title">[[item.title]]</div>
                        <iron-icon class="toggle-icon" icon="arrow-drop-down" collapsible-toggle></iron-icon>
                    </div>

                    <div collapsible-content>
                        <div class="bio">[[item.content]]</div>
                    </div>
                </sp-collapsible-card>

            </template>
        </sp-grid>

    </template>

    <script>

        Polymer({

            is: 'sp-projects-grid',
            behaviors: [
                Polymer.CascadedAnimationBehavior,
                Behaviours.ScrollableBehaviour
            ],

            properties: {

                projects: {
                    type: Array
                },

                narrowLayout: {
                    type: Boolean,
                    value: false
                },
                showing: Boolean,
                projectsArray: {
                    type: Array,
                    computed: '_computeProjects(projects)'
                }
            },
            _computeProjects: function(projects) {
                if (! this.isEmpty(projects)) {
                    return projects;

                }
            },
            isEmpty: function(obj) {
                for(var prop in obj) {
                    if(obj.hasOwnProperty(prop))
                        return false;
                }
                return true;
            }

        });

    </script>

</dom-module>

<!--
// Copyright (c) 2014 The Polymer Authors. All rights reserved.
-->