<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">

<dom-module id="sp-collapsible-card">

    <style>

        :host {
            display: block;
            position: relative;
            @apply(--shadow-elevation-2dp);
        }

    </style>

    <template>

        <content select=":not([collapsible-content])"></content>
        <iron-collapse id="collapse" opened="{{opened}}">
            <content></content>
        </iron-collapse>

    </template>

    <script>

        Polymer({

            is: 'sp-collapsible-card',

            properties: {

                opened: {
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false
                }

            },

            listeners: {
                tap: '_tapHandler'
            },

            _tapHandler: function(e) {
                var target = Polymer.dom(e).localTarget;
                if (target && target.hasAttribute('collapsible-toggle')) {
                    this.$.collapse.toggle();
                }
            }

        });

    </script>

</dom-module>