<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/neon-animation/animations/cascaded-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/transform-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-down-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/slide-left-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../animations/fade-in-right-animation.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html">

<script>

    Polymer.CascadedAnimationBehaviorImpl = {

        properties: {

            selector: {
                value: '[cascaded]'
            },

            showing: {
                type: Boolean,
                observer: '_showingChanged'
            },

            animationConfig: {
                type: Object,
                value: function() {
                    return {
                        'entry': [{
                            name: 'cascaded-animation',
                            animation: 'fade-in-right-animation',
                            timing: {
                                delay: 0
                            }
                        },{
                            name: 'cascaded-animation',
                            animation: 'scale-up-animation',
                            timing: {
                                delay: 25
                            }
                        }],
                        'exit': [{
                            name: 'cascaded-animation',
                            animation: 'scale-down-animation',
                            timing: {
                                delay: 0
                            }
                        },{
                            name: 'cascaded-animation',
                            animation: 'scale-down-animation',
                            timing: {
                                delay: 0
                            }
                        }]
                    }
                }
            }

        },
        listeners: {
            'neon-animation-finish': '_onNeonAnimationFinish'
        },
        _onNeonAnimationFinish: function() {

            if (!this.showing) {
                this._updateNodes(this.showing);
            }
        },
        _updateNodes: function(showing) {
            var nodes = Polymer.dom(this.root).querySelectorAll(this.selector);
            Array.prototype.forEach.call(nodes, function(node) {
                if ( ! showing) {
                    node.style.opacity = 0;
                    node.style.display = 'none';
                } else {
                    node.style.opacity = 1;
                    node.style.display = 'block';
                }
            });
        },
        attached: function() {
            this.style.opacity = 0;
            this._updateCascadedNodes();
        },

        _showingChanged: function(showing) {
            if (showing) {
                this.async(function() {
                    this.style.opacity = 1;
                    this._updateNodes(showing);
                }, 100);
                this.cancelAnimation();
                this.playAnimation('entry');
            } else {
                this.async(function() {
                }, 100);
                this.cancelAnimation();
                this.playAnimation('exit');

            }
        },

        _updateCascadedNodes: function() {

            var nodes = Polymer.dom(this.root).querySelectorAll(this.selector);
            var entries = [
                this.animationConfig['entry'],
                this.animationConfig['exit']
            ];
            entries.forEach(function(entry) {
                entry[0].nodes = entry[1].nodes = Array.prototype.slice.call(nodes);
            });
        }

    }

    Polymer.CascadedAnimationBehavior = [
        Polymer.NeonAnimatableBehavior,
        Polymer.NeonAnimationRunnerBehavior,
        Polymer.CascadedAnimationBehaviorImpl,
    ];

</script>

<!--
// Copyright (c) 2014 The Polymer Authors. All rights reserved.
-->