
<div class="vertical center-center layout home">
    <!--<div ng-repeat="item in home.posts | postsFilter: 'top':home.categories">-->
        <!--<sp-section title="{{item.attributes.title}}" class="section-{{item.attributes.title | lowercase }}" index="{{$index}}" content="{{item.attributes.content}}">-->

        <!--</sp-section>-->
    <!--</div>-->
    <div ng-repeat="item in about.posts | postsFilter:'top':about.categories" class="repeated-item animate-repeat">
        <sp-editable item="item">
            <sp-section class="section-{{item.attributes.title | lowercase }}" index="{{$index}}" content="{{item.attributes.content}}"></sp-section>
        </sp-editable>
    </div>
    <!-- Our mission section -->
    <sp-spinner>
        <div ng-repeat="item in about.posts | postsFilter:'mission':about.categories" class="about-articles layout center-justified repeated-item animate-repeat">
            <sp-editable item="item">
                <sp-article spinner content="{{item.attributes.content}}" index="{{item.id}}" disabled expanded length="200" title="{{item.attributes.title}}"></sp-article>
            </sp-editable>
        </div>
    </sp-spinner>
    <!-- End mission section -->
    <sp-cover-image height="600" image="app/images/about_cover.jpg">
    </sp-cover-image>
    <!-- Middle section start here -->

    <sp-section content="Why we exist"></sp-section>
    <sp-spinner>
        <div ng-repeat="item in about.posts | postsFilter:'middle':about.categories" class="about-articles animate-repeat">
            <sp-editable item="item">
                <sp-article  content="{{item.attributes.content}}" index="{{item.id}}" disabled expanded length="3000" title="{{item.attributes.title}}"></sp-article>
            </sp-editable>
        </div>
    </sp-spinner>
    <sp-spinner>
        <div ng-repeat="item in about.posts | postsFilter:'bottom':about.categories" class="about-articles animate-repeat">
            <sp-article content="{{item.attributes.content}}" index="{{item.id}}" disabled expanded length="3000" title="{{item.attributes.title}}"></sp-article>
        </div>
    </sp-spinner>
    <!-- End of middle section -->
    <div class="team">
        <sp-team-grid id="content" team="{{about.team}}"></sp-team-grid>
    </div>
    <div ui-view></div>

</div>

