
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../menu-behavior/menu-behavior.html">
<!--
An element providing a solution to no problem in particular.

Example:

    <sp-menu></sp-menu>

@group Seed Elements
@element sp-menu
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="sp-sidenav">

    <template>
        <style>
            :host {
                display: block;
            }
            .side-nav__header {
                min-height: 70px;
            }
            .side-nav {
                z-index: 1000;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                pointer-events: none;
            }

            .side-nav--visible {
                pointer-events: auto;
            }

            .side-nav::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.4);
                opacity: 0;
                will-change: opacity;
                transition: opacity 1s cubic-bezier(0,0,0.3,1);
            }

            .side-nav__header {
                line-height: 70px;
                text-align: center;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
            }

            .side-nav__container {
                position: relative;
                width: 90%;
                min-width: 250px;
                max-width: 250px;
                background: #FFF;
                height: 100%;
                box-shadow: 2px 0 12px rgba(0,0,0,0.4);
                transform: translateX(-102%);
                display: flex;
                flex-direction: column;
                will-change: transform;
            }

            .side-nav--animatable .side-nav__container {
                transition: transform 0.13s cubic-bezier(0,0,0.3,1);
            }

            .side-nav--visible.side-nav--animatable .side-nav__container {
                transition: transform 0.33s cubic-bezier(0,0,0.3,1);
            }

            .side-nav--visible::before {
                opacity: 1;
            }

            .side-nav--visible .side-nav__container {
                transform: none;
            }
            .side-nav__content {
                padding-top: 32px;
                flex: 1;
                list-style: none;
                padding: 0;
                margin: 0;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .side-nav__content ::content > [item] {
                height: 48px;
                width: 100%;
                line-height: 48px;
                text-align: center;
            }
            .side-nav__content ::content > [item] a {
                color: #4FB6F7;
                display: block;
            }

            .side-nav__content ::content > [item]:hover a, .side-nav__content ::content > [item] .active {
                background: #4fb6f7;
                color: white;
            }

            .side-nav__hide {
                position: absolute;
                left: 16px;
                top: 16px;
                background: none;
                border: none;
                color: #FFF;
                width: 24px;
                height: 24px;
                padding: 0;
                margin: 0;
            }
            .side-nav__content ::content > [item] {
                display:block;
            }
        </style>
        <aside id="sideNav" class="js-side-nav side-nav">
            <nav id="sideNavContainer" class="js-side-nav-container side-nav__container">
                <header class="side-nav__header" >
                    {{state.data.name}}
                </header>
                <ul class="side-nav__content">
                    <content></content>
                </ul>
            </nav>
        </aside>
    </template>

</dom-module>

<script>

    Polymer({

        is: 'sp-sidenav',


        /*
         * TODO:
         * use content shadow dom for angular to generate the li items.
         *
         * fix hide menu when clicking outside.
         * finish styling.
         *
         */
        properties: {
            showing: {
                type: Boolean,
                notify: true,
                observer: '_showingChanged'
            }
        },
        listeners: {
            'touchstart': 'onTouchStart',
            'touchmove': 'onTouchMove',
            'touchend': 'onTouchEnd'
        },
        behaviors: [Behaviors.MenuBehavior],
        attached: function() {
//            this.hideButtonEl = this.querySelector('.js-menu-hide');
            this.sideNavEl = this.$.sideNav;
            this.sideNavContainerEl = this.$$('.js-side-nav-container');

            this.showSideNav = this.showSideNav.bind(this);
            this.hideSideNav = this.hideSideNav.bind(this);
            this.blockClicks = this.blockClicks.bind(this);
            this.onTouchStart = this.onTouchStart.bind(this);
            this.onTouchMove = this.onTouchMove.bind(this);
            this.onTouchEnd = this.onTouchEnd.bind(this);
            this.onTransitionEnd = this.onTransitionEnd.bind(this);
            this.update = this.update.bind(this);

            this.startX = 0;
            this.currentX = 0;
            this.touchingSideNav = false;
            this.showing = false;
            this.addListeners();
        },
        addListeners: function() {
            this.listen(this.$.sideNav, 'tap', 'hideSideNav');
            this.listen(this.$.sideNavContainer, 'tap', 'blockClicks');
//            this.sideNavContainerEl.addEventListener('click', this.blockClicks);

//            document.addEventListener('touchstart', this.onTouchStart);
//            document.addEventListener('touchmove', this.onTouchMove);
//            document.addEventListener('touchend', this.onTouchEnd);
        },
        onTouchStart: function(evt) {
            if (!this.sideNavEl.classList.contains('side-nav--visible'))
                return;

            this.startX = evt.touches[0].pageX;
            this.currentX = this.startX;

            this.touchingSideNav = true;
            requestAnimationFrame(this.update);
        },
        onTouchMove: function(evt) {
            this.currentX = evt.touches[0].pageX;
            var translateX = Math.min(0, this.currentX - this.startX);

            if (translateX < 0) {
                evt.preventDefault();
            }
        },
        onTouchEnd: function() {
            this.touchingSideNav = false;

            var translateX = Math.min(0, this.currentX - this.startX);
            this.sideNavContainerEl.style.transform = '';

            if (translateX < 0) {
                this.hideSideNav();
            }
        },
        update: function() {
            if (!this.sideNavEl.classList.contains('side-nav--visible'))
                return;

            if (this.touchingSideNav)
                requestAnimationFrame(this.update);

            var translateX = Math.min(0, this.currentX - this.startX);
            this.sideNavContainerEl.style.transform = 'translateX(' + translateX + 'px)';
        },
        toggle: function() {
            this.showing = !this.showing;
        },
        _showingChanged: function(newValue, oldValue) {
            if (newValue) {
                return this.showSideNav();
            }
            return this.hideSideNav();
        },
        showSideNav: function() {
            var nav = this.$.sideNav;
            this.sideNavEl.classList.add('side-nav--animatable');
            this.sideNavEl.classList.add('side-nav--visible');
            this.listen(this.sideNavEl, 'transitionend', 'onTransitionEnd');
            this.showing = true;
            this.fire('side-nav-opened', {showing: this.showing});
        },
        hideSideNav: function() {
            this.sideNavEl.classList.add('side-nav--animatable');
            this.sideNavEl.classList.remove('side-nav--visible');
            this.sideNavEl.addEventListener('transitionend', this.onTransitionEnd);
            this.showing = false;
            this.fire('side-nav-closed', {showing: this.showing});
        },
        blockClicks: function(evt) {
            if (evt.target.nodeName === 'A') {
                this.hideSideNav();
            }
            evt.stopPropagation();
        },
        onTransitionEnd: function(evt) {
            this.sideNavEl.classList.remove('side-nav--animatable');
            this.sideNavEl.removeEventListener('transitionend', this.onTransitionEnd);
        }

    });

</script>
