<div class="home">
    <sp-cover-image height=600 image="app/images/home_cover.jpg">
        <div class="title">
            Safe Passage Canada
        </div>
        <div class="description">
            We believe in a world where refugees may find a home free from conflict and persecution.
        </div>
        <div class="after">
            We help make that home Canada.
        </div>
    </sp-cover-image>
    <div ui-view class="slide"></div>

    <div class="vertical center-center layout home">
        <sp-section content="We are a Canadian non-profit organization that connects and empowers sponsors and refugees throughout the Canadian sponsorship process."></sp-section>
        <sp-features-grid features="{{home.features}}"></sp-features-grid>
        <sp-section height="250" content="Safe Passage Canada will soon be opening its first office in Amman. If you are a sponsor in Canada, or would simply like to get involved, please contact us!">
            <sp-contact-widget class="action-buttons">
            </sp-contact-widget>

            <!--<paper-button class="action-buttons" raised>Contact Us</paper-button>-->
        </sp-section>
    </div>

</div>