<section>
    <div ng-repeat="item in home.content | contentFilter:$state.current.name | limitTo:1:0">
        <sp-article class="articles-{{$index}}" content="{{item.attributes.content}}" index="{{item.id}}" length="500" expanded title="{{item.attributes.title}}"></sp-article>
    </div>
    <div ng-repeat="item in home.content | contentFilter:$state.current.name + '.middle'">
        <sp-section title="{{item.attributes.title}}" index="{{$index}}" content="{{item.attributes.content}}">
        </sp-section>
    </div>
    <div ng-repeat="item in home.content | contentFilter:$state.current.name | limitTo:10:1">
        <sp-article class="articles-{{$index}}" content="{{item.attributes.content}}" index="{{item.id}}" length="250" expanded title="{{item.attributes.title}}"></sp-article>
    </div>
</section>
